@font-face {
    font-family: 'architects_daughterregular';
    src: url('../fonts/architectsdaughter-webfont.woff2') format('woff2'),
         url('../fonts/architectsdaughter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sundayregular';
    src: url('../fonts/sunday-webfont.woff2') format('woff2'),
         url('../fonts/sunday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
     