// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$color-primary:         #ffffff;
$color-black:            #000000;
$color-white:            #ffffff;
$color-gray-light:       #999999;
$lite-blue:              #7FE4EC;
$lite-green:             #A4E178;
$or-red:                 #FC5358;
$logo-yellow:          #FFEC3D;
$logo-pink:  #FB98FC;
$logo-green: #C2F04A;
$logo-purple: #B35AE3;
$fade-yellow: #FFF7E1;

// For Modular Scale
$ms-base: 1em;
$ms-ratio: $golden;

// For Typi
$breakpoints: (
  small : 35.5em,
  medium: 60em,
  large : 100em
);

$h1-map: (
  null: (ms(1), 1.2),
  small: (ms(2), 1.2),
  medium: (ms(3), 1.2),
  large: (ms(3), 1.3)
  );

$h2-map: (
  null: (ms(0), 1.2),
  small: (ms(1), 1.2),
  medium: (ms(2), 1.2),
  large: (ms(2), 1.3)
  );

$h3-map: (
  null: (ms(0), 1.2),
  small: (ms(0), 1.2),
  medium: (ms(1), 1.2),
  large: (ms(1), 1.3)
  );

$h4-map: (
  null: (ms(-1), 1.2),
  small: (ms(-1), 1.2),
  medium: (ms(0), 1.2),
  large: (ms(0), 1.3)
  );

$typi: (
  null  : (13.5px, 1.3),
  small : 14px,
  medium: (16px, 1.4),
  //900px : 1.3rem,
  large : (18px, 1.45),
  //1840px: 20px,
);


$desktop:(min-width:1025px);
$tablet-landscape:769px 1024px;
$tablet-landscape-min:(min-width:769px);
$tablet-portrait:581px 768px;
$tablet-portrait-max:(max-width:768px);
$tablet-min:(min-width:581px);
$tablet-all:581px 1024px;
$touch-landscape-max:(max-width:580px);
$touch-landscape:(321px 580px);
$touch-portrait-max:(max-width:320px);