/**
 * Header
 */
.site-header {
	text-align: center;
	top: auto;
	margin: 0 auto;
}

/**
 * Sidebar
 * TODO: Rename this to avoid conflicts with WordPress generated sidebar classes
 */

.header {
	background: $fade-yellow;
	color: $or-red;
	padding-top: 1em;
	border-bottom: 1px solid #ccc;
}

.site-title-div {
	display:flex;
    align-items: center;
    justify-content: center;
}

h1.site-title {
	margin:0 !important;
	padding:0 !important;
  	font-family:'sundayregular';
  	@media (min-width: 35.5em) {
			font-size: 2.7em;
		
	}
	@media (max-width: 567px) {
		font-size:1.5em;
	}
}
/*
.branding-logo-1, .branding-logo-2 {
	@media screen and (min-width: 568px) {
  		display:block;
  	}
  	
  @media screen and (max-width: 567px) {
  		display:none;
  	}
}
*/
.branding-logo-1 img, .branding-logo-2 img  {
	width:70%;
 	position: relative;
	top: 50%;
	transform: translateY(-50%);
	}


/* These are ".brand-title" and ".brand-tagline" in the Pure CSS example. */
.site-title,
.site-description {
	margin: 0;
}

.site-title {
	text-transform: uppercase;
	color: $logo-purple;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: $logo-purple;
	text-decoration: none;
}
.site-description {
	font-weight: 300;
	color: rgb(176,202,219);
}
